<div class="home full">
			
			<div class="container list">
				<p> [[country]] > [[province]] > [[city]] </p>
					
				<h4 ng-cloak ng-show="places.length > 0"> Hay [[places.length || "-" ]] lugar<span ng-cloak ng-show="places.length > 1">es</span> </h4>
				<div class="places" ng-cloak ng-show="places.length > 0">
					 <ul class="collection">
					    <li class="collection-item" ng-repeat="item in places">
					      <div class="row info">
					      		<div class="col s12">
						      		<span class="title truncate">[[item.establecimiento]]</span>
						      		<a ng-click="nextShowUp(item)" class="waves-effect waves-light right">
						      		<i class="mdi-navigation-chevron-right right"></i></a>
						      	</div>
						  </div>
						  <div class="row info">
					      		<div class="col s12 l12">
							    	<i class="mdi-maps-place tiny"> </i>
							    	<span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]] [[item.cruce]]<br></span>
							    	<span class="address grey-text" ng-cloak ng-show="!item.calle">sin direccion<br></span>
							    	<span class="telefono" ng-cloak ng-show="item.telefono">
							    		<a ng-href="tel:[[item.tel]]" class="">
							    				<i class="mdi-communication-call tiny"> </i>[[item.telefono]]</a><br>
							    	</span>
							    	<span class="time truncate" ng-cloak ng-show="item.horario"><i class="mdi-action-query-builder tiny"> </i>[[item.horario]]</span>
							    </div>
							    <div class="col s12 l4">
						      		<span class="distance" ng-cloak ng-show="item.distance"> <i class="mdi-maps-directions-walk tiny"></i>[[item.distance]] cuadras </span>
						      		
						      	</div>
						      	
					      </div>
					    </li>
			    	</ul>	
			    	
				</div>
			      
				</div>
			    	
		    	<div class="container">
		    		<div class="card-panel hoverable">

							<h4>Utilizar ubicación actual</h4>
							<p><i class="mdi-action-info-outline tiny "></i> Necesita dispositivo con localización  </p>
							<div class="col s12 m3 hide-on-med-and-down"></div>
							<a ng-href="#/localizar/[[service]]/listado" class="waves-effect waves-light btn wow "  data-wow-delay="0s">
							<i class="mdi-navigation-chevron-right right"></i>
							<i class="mdi-device-gps-fixed left"></i>Buscar</a>
						</div>
		      
			</div>
				
	</div>
</div>


       