<br>

<div class="home full">
    <div class=" container list">
        <p class="header">
            <br>
            <span ng-cloak ng-show="service">
              <a ng-href="#/" > Buscando [[service.title]] </a> </p>
              <span ng-cloak ng-show="country">
                  <a ng-href="#/[[country]]/[[province]]/[[city]]/[[service]]/mapa" >
                    [[country]], [[province]], [[city]] </a></span></p>
                    <div ng-cloak ng-show="loading">
                        <h1> Cargando </h1>
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>

                    <!-- si no hay resultados -->
                    <div class="row" ng-cloak ng-hide="loading">
                        <h4 ng-cloak ng-show="cantidad > 0"> Hay [[cantidad || "-" ]] lugar<span ng-cloak ng-show="cantidad > 1">es</span> </h4>
                        <h5 ng-cloak ng-show="cantidad  === 0"> No hemos encontrado lugares de
                            <strong> [[service.title]] en [[city]] </strong> </h5>
                            <!-- modulo sugerencia -->
                            <div class="container" ng-cloak ng-show="cantidad  === 0">
                                <div class="card-panel hoverable">
                                    <h4>Sugiere un lugar en este Partido o Departamento</h4>
                                    <p><i class="mdi-action-info-outline tiny "></i> Con tu colaboración podemos hacer que la búsqueda sea más certera. </p>
                                    <div class="col s12 m3 hide-on-med-and-down"></div>
                                    <a ng-href="form" class="waves-effect waves-light btn wow " data-wow-delay="0s">
                                        <i class="mdi-content-add right"></i>
                                    </i>Agregar</a>
                                </div>
                            </div>
                        </div>
                        <!-- modulo sugerencia -->
<!-- Contenedor de UL -->
                        <div class="places" ng-cloak ng-show="cantidad > 0">
                                <!-- start-block -->
<!--         <div class="home-search-select">
            <div class="center-align">  
                <select class="browser-default" ng-model="events" ng-change="updateSearch(events)">
                      <option value="distance">Lo mas cerca</option>
                      <option value="-rateReal">Lo mejor votado</option>
                </select>      
            </div>
        </div> -->
                            <ul class="collection">
                              <!-- Header Tabble -->
                                <!-- <li class="collection-item" ng-repeat="item in places | filter:esRapido()"> -->
                                 <li class="collection-item" ng-repeat="item in places | orderBy: events: '!null' ">
                                  <!-- TITULO -->
                                    <div class="row info ">
                                        <div class="col s12 label">
                                            <span class="title truncate">[[item.establecimiento]]</span>
                                            <a ng-click="nextShowUp(item)" class="waves-effect waves-light right">
                                                <i class="mdi-navigation-chevron-right right"></i></a
                                            </div>
                                        </div>
                                  <!-- DESCRIPCION -->
                                        <div class="row info">
                                          <!-- Marker con lugar -->
                                            <div class="col s6 l8">
                                                <i class="mdi-maps-place tiny"> </i>
                                                <span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]] [[item.cruce]]<br></span>
                                                <span class="address grey-text" ng-cloak ng-show="!item.calle">sin direccion<br></span>
                                                <span class="telefono" ng-cloak ng-show="item.telefono">
                                                    <a ng-href="tel:[[item.tel]]" class="">
                                                        <i class="mdi-communication-call tiny"> </i>[[item.telefono]]</a><br>
                                                    </span>
                                                    <span class="time truncate" ng-cloak ng-show="item.horario"><i class="mdi-action-query-builder tiny"> </i>[[item.horario]]</span>
                                                </div>
                                                <!-- Distancia -->
                                                <div class="col s6 l4">
                                                    <span class="distance" ng-cloak ng-show="item.distance"> <i class="mdi-maps-directions-walk tiny">
                                                    </i>[[item.distance]] metros </span>
                                                </div>
                                            </div>
                                                <!-- Servicios -->
                        <div class="row info services">
                          <div class="col s12">
<img ng-show="item.condones" alt="Este lugar distribuye condones" src="images/iconos-new_preservativos-3.png">
<img ng-show="item.prueba" alt="Este lugar puede hacer prueba de HIV" src="images/iconos-new_analisis-3.png">
<img ng-show="item.vacunatorio" alt="Este lugar cuenta con centro vacunatorio" src="images/iconos-new_vacunacion-3.png">
<img ng-show="item.infectologia" alt="Este lugar cuenta con centro de infectologia" src="images/iconos-new_atencion-3.png">
<img class="tRapLogo" ng-show="item.es_rapido" alt="Este lugar cuenta con test rapido" src="images/iconos-test_rapido-3.png">

                          </div>
                        </div>
                    <!-- <img ng-show="item.cantidad_votos" src="images/emojis/1active.png"> -->
                    <!-- <span class="address" ng-cloak ng-show="item.cantidad_votos">[[item.cantidad_votos]] evaluaciónes<br></span>                         -->
                                </li>
                            </ul>
                                </div>
                                <div class="container">
                                    <div class="card-panel hoverable">
                                        <h4>Busca con tu ubicación actual</h4>
                                        <p><i class="mdi-action-info-outline tiny "></i> Necesita dispositivo con Geolocalización </p>
                                        <div class="col s12 m3 hide-on-med-and-down"></div>
                                        <a ng-href="#/localizar/[[service]]/listado" class="waves-effect waves-light btn wow " data-wow-delay="0s">
                                            <i class="mdi-navigation-chevron-right right"></i>
                                            <i class="mdi-device-gps-fixed left"></i>Buscar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>