<div class="credits">
               <h5>  DiverseCity Data Research team </h5>
                    <ul>
                        <li> <strong>Jerónimo Cortina </strong>
                            <p><small>Associate Professor Political Science <a href="http://www.uh.edu/" target="_blank">University of Houston</a></small></p>
                        </li>
                    <li>
                        <strong>Francisco I. Pedraza </strong>
                        <p><small>Assistant Professor at University of California, Riverside with appointments in the <a href="http://spp.ucr.edu/" target="_blank">School of Public Policy </a> and the <a href="http://politicalscience.ucr.edu/" target="-blank">Department of Political Science </a>. </small></p>
                 </li>
                 <li>
                    <strong>Bryan Wilcox-Archuleta</strong>
                    <p><small>Graduate student in<a href="http://politicalscience.ucr.edu/" target="-blank"> Political Science  </a> at the <a href="http://www.polisci.ucla.edu/" target="-blank">University of California, Los Angeles</a></small></p>
                 </li>
                </ul>
                  <h5>  Experience & Development </h5>
                      <ul>
                      <li> <storng> Martín Nahuel Rabaglia </strong>
                            <p> <small><a href="http://genosha.com.ar" target="_blank"> Genosha  </a> </small></p>
                      </li>
                </ul>
        </div>