@mixin radius ($radius) {
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;
}

@mixin opacity ($value) {
	opacity: $value;
	-khtml-opacity: $value;
	-moz-opacity: $value;
	$opacity-ie: $value * 100;
	filter: alpha(opacity=$opacity-ie); //ie-8
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

@mixin breakpoint ($point, $value:0) {
	@if $point == "small" {
		@media (min-width:320px) { @content; }
	}

	@else if $point == "medium" {
		@media (min-width:600px) { @content; }
	}

	@else if $point == "large" {
		@media (min-width:992px) { @content; }
	}

	@else {
		@meadia ($point == $value) { @content }
	}
}

@mixin grid ($cols, $gutter:0, $childs: ".item") {
	width: auto;
	margin-right: -$gutter;

	#{$childs} {
		float: left;
		width: (100%/$cols);
		padding-right: $gutter;
		background-clip: content-box;
	}
}

@mixin keyframes ($name) {
	@-moz-keyframes #{$name} {
		@content;
	}
	
	@-webkit-keyframes #{$name} {
		@content;
	}
	
	@-o-keyframes #{$name} {
		@content;
	}
	
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation ($arguments...) {
	-moz-animation: $arguments;
	-webkit-animation: $arguments;
	-o-animation: $arguments;
	animation: $arguments;
}

@mixin transition ($arguments...) {
	-moz-transition: $arguments;
	-webkit-transition: $arguments;
	transition: $arguments;
}

@mixin bg-color( $color) {
	position:relative;

	&:before {
		content:" ";
		position: absolute;
		@include opacity(.8);
		background-color:$color;
		width:100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

@mixin placeholder-color( $color) {
	&::-webkit-input-placeholder {
	   color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}
	&:-ms-input-placeholder {  
	   color: $color;  
	}
}