<div class="home full new-home" id="top">
  <div class="detail row wow fadeIn fadeInRight" ng-cloak ng-show="currentMarker">
    <div class="contaner close">
       <div class="row">
            <div class="col s8">
             <p>  <p>
            </div>
            <div class="col s4">
             <strong> <a href="" ng-click="closeDetail()">
              <i class="mdi-navigation-chevron-left left"></i><span translate="back"></span></strong></a></strong> 
            </div>
            

      </div>
    </div>
    <div class="container list">
    <div class="row">
      <h3> [[currentMarker.nombre_pais]] </h3>
      <p> <a>[[currentMarker.nombre_provincia]] > [[currentMarker.nombre_partido]] > [[currentMarker.nombre_ciudad]] </a></p>
      </div>
      <h4>[[currentMarker.establecimiento]] </h4>
      <p ng-show="currentMarker.calle"><b>[[currentMarker.calle]] [[currentMarker.altura]] [[currentMarker.piso_depto]]</b>
       <br> [[currentMarker.partido_comuna]]
       <span ng-show="currentMarker.provincia_region"> ,</span> [[currentMarker.provincia_region]]</p>
       <p ng-show="currentMarker.tipo"><strong><span>[[currentMarker.tipo]]</span> </strong></p>
     </div>


     <div class="row">
       <div class="col s12 l12">
        <span class="distance" ng-cloak ng-show="currentMarker.distance"> <i class="mdi-maps-directions-walk tiny"></i><span translate="place_distance_size" translate-values="{distance:'[[currentMarker.distance]]'}"></span></span>
      </div>

      <div class="col s12 l12 servicios" >
       <ul class="collection">
        <div ng-include="'scripts/home/controllers/city-map/detail/condones.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/pruebas.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/mac.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ile.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ssr.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/dc.html'"></div>
      </ul>
    </div>
  </div> <!-- fade in -->
</div> <!-- fade in -->


</div>

