<div class="home full new-home" style="padding-top: 25px;">
	<div class="container list">
		<p translate="busqueda_auto_acc"></p>

		<div ng-cloak ng-show="loading">
			<h1 translate="cargando_cercanos"> </h1>
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>

		<!-- si no hay resultados -->
		<div class="row" ng-cloak ng-hide="loading">
			<h5 ng-cloak ng-show="cantidad  === 0" translate="places_not_found" translate-values="{ newNotFoundResult: '[[service.newNotFoundResult]]'}"> </h5>
			<!-- <strong> [[service.title]] cerca </strong> </h5> -->
			<!-- modulo sugerencia -->
			<div class="container" ng-cloak ng-show="cantidad  === 0">
				<br>
				<div class="card-panel hoverable">
					<h4 translate="suggest_place"></h4>
					<p translate="client_colaboration"><i class="mdi-action-info-outline tiny "></i> </p>
					<div class="col s12 m3 hide-on-med-and-down"></div>
					<a ng-href="form" class="waves-effect waves-light btn wow " data-wow-delay="0s" translate="add">
						<i class="mdi-content-add right"></i>
					</i></a>
				</div>
			</div>
		</div>

		<img class="country-image" src="images/countries/[[countryImageTag]].jpg"></img>
		<p ng-cloak><span translate="[[countryTextTag]]"></span></p>
		<p ng-cloak ng-show="service.title == 'ile_name'"><span translate="[[ileTag]]"></span></p>
		<h4 ng-cloak ng-show="cantidad > 1" translate="resultado_cantidad_titulo>1"  translate-values="{ cantidad: '[[cantidad]]'}"> </h4>
		<h4 ng-cloak ng-show="cantidad == 1" translate="resultado_cantidad_titulo=1"> </h4>

		<div class="places" ng-cloak ng-show="cantidad > 0">
			<div class="center-align row valign-wrapper" style="width: 90%">
				<div class="col s3 valign" translate="sort_label_text"> </div>
				<select class="browser-default col s8 valign left-align" ng-model="events" ng-change="updateSearch(events)">
					<option value="distance" translate="sort_closest_option"></option>
					<option value="-rateReal" translate="sort_better_option"></option>
				</select>
			</div>

				<input  type="checkbox"
				name="onlyFriendly"
				id="onlyFriendly"
				ng-model="onlyFriendly" ng-true-value="1" ng-false-value="0"/>
				<label for="onlyFriendly" translate="only_teenager_friendly"></label>


   <ul class="collection">
        <li class="collection-item center" ng-repeat="item in places | orderBy: events: '!null' | filter:esFriendly()">
        <div class="row col-container">
        <div class="col s11 center-col-services">
            <div class="row info ">
              <div class="col s12 label">
                <span class="title truncate">[[item.establecimiento]]</span>
              </div>
            </div>

          <!-- DESCRIPCION -->
          <div class="row info">
            <!-- SINGLE LIST ITEM -->
            <div class="col s6 l8">
              <i ng-show='item.calle' class="mdi-maps-place tiny"> </i>
              <span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]]</span>
              <span ng-show='item.cruce'>
                <span translate="and"></span>
                <span ng-show='item.cruce'> [[item.cruce]]<br></span>
                <span ng-show='item.piso_dpto'> [[item.piso_dpto]] </span><br>
                <span ng-show='item.barrio_localidad'> [[item.barrio_localidad]]<br></span>
              </span>
            </div>
              <!-- DISTANCE PER ITEM -->
            <div class="col s6 l4">
              <span class="distance" ng-cloak ng-show="item.distance">
                <i class="mdi-maps-directions-walk tiny"></i>
                <span translate="place_distance_size" translate-values="{distance: '[[item.distance]]'}"></span>
              </span>
            </div>
          </div>



          <!-- SERVICES PER ITEM -->
          <div class="row info services">
            <div class="col s12">
              <img ng-show="tieneServicioFriendly(item)" src="images/adolescente.svg">
              <img ng-show="item.condones" alt="Este lugar distribuye condones" src="images/condones.svg">
              <img ng-show="item.prueba && !item.es_rapido" alt="Este lugar puede hacer prueba de HIV" src="images/vih.svg">
              <img ng-show="item.vacunatorio" alt="Este lugar cuenta con centro vacunatorio" src="images/iconos-new_vacunacion-3.png">
              <img ng-show="item.infectologia" alt="Este lugar cuenta con centro de infectologia" src="images/iconos-new_atencion-3.png">
              <img ng-show="item.mac" alt="Este lugar cuenta con test rapido" src="images/mac.svg">
              <img ng-show="item.ile" alt="Este lugar cuenta con test rapido" src="images/ile.svg">
              <img ng-show="item.ssr" alt="Este lugar cuenta con servicios de salud sexual y reproductiva" src="images/salud.svg">
              <img ng-show="item.dc" alt="Este lugar cuenta con servicios de Detección de canancer" src="images/deteccion.svg">
              <img class="tRapLogo" ng-show="item.es_rapido" alt="Este lugar cuenta con test rapido" src="images/iconos-test_rapido-3.svg">
            </div>
          </div>

          <!-- RATE PER ITEM -->
          <div ng-cloak ng-show="item.rate" class="row info Aligner-info-home-evaluation">
            <div style="padding:1.5%; border-radius: 5px ;background-color: #E6344D; color: #fff;font-weight: 800">
              <span>[[item.rate]]</span>
              <span ng-show="item.rate > 1" translate="point_plural"></span>
              <span ng-show="item.rate == 1" translate="point_singular"></span>
            </div>
          </div>

        </div>

		<div class="next-showup-arrow col s1 l1">
			<a ng-click="nextShowUp(item)"></a>
			<div class="service-button-down-background"></div>
			<i class="mdi-hardware-keyboard-arrow-right service-button-down-icon"></i>
		</div>


        </div>
        </li>
      </ul>


		</div>

	</div>
</div>

</div>
<div class="row home-footer-wrapper">
	<footer class="result-service-footer">
		<p translate="footer_text"></p>
	</footer>
</div>
</div>
