
<div class="home full new-home" >

    <div class="container list">

        <p class="header">

            <span ng-cloak ng-show="service">
            <a style="cursor: default;" translate="searching_service" translate-values="{service: '[[service.label]]' }"></a>
            </span>

        </p>

            <span ng-cloak ng-show="country">
            <a style="cursor: default;" >[[country]], [[province]], [[city]] </a>
            </span>

        </p>

        <div ng-cloak ng-show="loading">

            <h1 translate="loading_cities"> </h1>

            <div class="progress">

                <div class="indeterminate"></div>

            </div>

        </div>

        <div class="" ng-cloak ng-hide="loading">

               <div ng-cloak ng-show='legal'>
                <img class="country-image" src="images/countries/[[countryImageTag]].jpg"></img>
             <div  ng-cloak ng-hide="loading" class="member-container">
                <p  id='ile_text' ng-cloak><span  translate="[[countryTextTag]]"></span></p>
            </div>

                <!-- <p ng-cloak ng-show="service.title == 'ile_name'"><span translate="[[ileTag]]"></span></p> -->
            </div>
            <div ng-cloak ng-show='!legal'>
              <h5 translate="[[ileTag]]"></h5>
            </div>

            <h4 ng-cloak ng-show="cantidad > 1" translate="resultado_cantidad_titulo>1" translate-values="{cantidad: '[[cantidad]]'}"></h4>

            <h4 ng-cloak ng-show="cantidad == 1" translate="resultado_cantidad_titulo=1"></h4>

            <h5 ng-cloak ng-show="cantidad == 0" translate="noResults" translate-values="{ciudad:'[[ciudad]]'}"></h5>

            <input  type="checkbox"
            name="onlyFriendly"
            id="onlyFriendly"
            ng-model="onlyFriendly" ng-true-value="1" ng-false-value="0"/>
            <label for="onlyFriendly" translate="only_teenager_friendly"></label>

            <div class="container" ng-cloak ng-show="cantidad  === 0">

                <div class="card-panel hoverable">

                    <h4 translate="suggest_place"></h4>

                    <p translate="client_colaboration"><i class="mdi-action-info-outline tiny"></i></p>

                    <div class="col s12 m3 hide-on-med-and-down"></div>

                    <a ng-href="form" class="waves-effect waves-light btn wow " data-wow-delay="0s" translate="add">
                        <i class="mdi-content-add right"></i>
                    </a>

                </div>

            </div>

        </div>

        <div class="places" ng-cloak ng-show="cantidad > 0">

                <div class="center-align row valign-wrapper" style="width: 90%">

                    <div class="col s3 valign" translate="sort_label_text"></div>

                    <select class="browser-default col s8 valign left-align" ng-model="events" ng-change="updateSearch(events)">
                      <option value="" translate="all"></option>
                      <option value="rateReal" translate="sort_better_option"></option>
                    </select>

                </div>

                <ul class="collection">

                    <li class="collection-item" ng-repeat="item in places | orderBy: events: '!null' | filter:esFriendly()">

                        <div class="row info ">

                            <div class="col s12 label">

                                <span class="title truncate">[[item.establecimiento]]</span>
                                <a ng-click="nextShowUp(item)" class="waves-effect waves-light right">
                                    <i class="mdi-navigation-chevron-right right"></i></a>

                            </div>

                        </div>

                        <!-- DESCRIPCION -->
                        <div class="row info">

                          <!-- Marker con lugar -->
                            <div class="col s6 l8">

                                <i ng-show='item.calle' class="mdi-maps-place tiny"> </i>

                                <span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]]
                                    <span ng-show='item.cruce'> <span translate="and"></span>
                                    <span ng-show='item.cruce'> [[item.cruce]]<br></span>
                                    <span ng-show='item.piso_dpto'>
                                    <!--span translate="form_establishment_floor"></span-->[[item.piso_dpto]] </span><br>
                                    <span ng-show='item.barrio_localidad'> [[item.barrio_localidad]]<br></span>
                                </span>

                                <!--span class="address grey-text" ng-cloak ng-show="!item.calle" translate="without_address"><br></span-->

                                <span class="telefono" ng-cloak ng-show="item.telefono">
                                <a ng-href="tel:[[item.tel]]" class="">
                                <i class="mdi-communication-call tiny"> </i>[[item.telefono]]</a><br>
                                </span>

                                <span class="time truncate" ng-cloak ng-show="item.horario"><i class="mdi-action-query-builder tiny"> </i>[[item.horario]]</span>

                            </div>

                            <!-- Distancia -->
                            <div class="col s6 l4">

                                <span class="distance" ng-cloak ng-show="item.distance"> <i class="mdi-maps-directions-walk tiny">
                                </i> <span translate="place_distance_size" translate-values="{distance: '[[item.distance]]'}"></span></span>

                            </div>

                        </div>

                        <!-- Servicios -->
                        <div class="row info services">

                            <div class="col s12">

                                <img ng-show="tieneServicioFriendly(item)" src="images/adolescente.svg">

                                <img ng-show="item.condones" alt="Este lugar distribuye condones" src="images/condones.svg">

                                <img ng-show="item.prueba" alt="Este lugar puede hacer prueba de HIV" src="images/vih.svg">

                                <img ng-show="item.vacunatorio" alt="Este lugar cuenta con centro vacunatorio" src="images/iconos-new_vacunacion-3.png">

                                <img ng-show="item.infectologia" alt="Este lugar cuenta con centro de infectologia" src="images/iconos-new_atencion-3.png">

                                <img ng-show="item.mac" alt="Este lugar cuenta con test rapido" src="images/mac.svg">

                                <img ng-show="item.ile" alt="Este lugar cuenta con test rapido" src="images/ile.svg">

                                <img ng-show="item.ssr" alt="Este lugar cuenta con servicios de salud sexual y reproductiva" src="images/salud.svg">

                                <img ng-show="item.dc" alt="Este lugar cuenta con servicios de Detección de canancer" src="images/deteccion.svg">

                                <img class="tRapLogo" ng-show="item.es_rapido" alt="Este lugar cuenta con test rapido" src="images/iconos-test_rapido-3.svg">

                            </div>

                        </div>
                        <!-- <img ng-show="item.cantidad_votos" src="images/emojis/1active.png"> -->
                        <!-- <span class="address" ng-cloak ng-show="item.cantidad_votos">[[item.cantidad_votos]] evaluaciónes<br></span>                         -->


                        <div ng-cloak ng-show="item.rate" class="row info Aligner-info-home-evaluation">

                            <div style="padding:1.5%; border-radius: 5px ;background-color: #E6344D; color: #fff;font-weight: 800">
                                <span translate="point" translate-values="{ rate: '[[item.rate]]'}">
                                </span><span ng-show='item.rate > 1'>s</span>
                            </div>
                            <!--span class="address"> - [[item.cantidad_votos]] <span ng-cloak ng-show="item.cantidad_votos === 1" translate="evaluation_singular"></span><span ng-cloak ng-show="item.cantidad_votos != 1" translate="evaluation_plural"></span><br></span-->

                        </div>



                    </li>

                </ul>

        </div>

        <div class="container">

            <div class="card-panel hoverable">

                <h4 translate="busqueda_geo_titulo"></h4>

                <p><i class="mdi-action-info-outline tiny "></i> <span translate="busqueda_geo_desc"></span></p>

                <div class="col s12 m3 hide-on-med-and-down"></div>

                    <a ng-href="#/localizar/[[service]]/listado" class="waves-effect waves-light btn" data-wow-delay="0s" translate="search">
                    <i class="mdi-navigation-chevron-right right"></i>
                    <i class="mdi-device-gps-fixed left"></i></a>

                </div>

            </div>

        </div>


    </div>

</div>

<div class="row home-footer-wrapper">

    <footer class="result-service-footer">

        <p translate="footer_text"></p>

    </footer>

</div>
