<div class='boxlanding'>
<ul class="collection">
    <!-- Header Tabble -->
    <li class="collection-item collection-seo">
      <div class="row valign">
        <div class="row left-align">
          <span class="distanceLanding"><b class="text-seo">[[nameCountry]]</b></span>
        </div>
      </div>
    </li>
    <li class="collection-item collection-seo">
      <div class="row valign">
        <div class="row left-align">
          <i class="mdi-hardware-keyboard-arrow-down i-seo"></i> <span class="distanceLanding" translate="seo_select_state"><b></b></span>
        </div>
      </div>
    </li>
    <div class="palcesLanding">
      <div class="container">
        <table class="highlight left">
          <tbody>
            <tr ng-repeat='pro in provinces'>
              <td ><a class="item-seo" href="#/pais/[[idCountry]]-[[nameCountry]]/provincia/[[pro.id]]-[[pro.nombre_provincia]]/partido">[[pro.nombre_provincia]]</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
  </div>