<div class="container resume">				
	<div class="row" >
		<div class="col s12 m6  wow bounceInLeft">
			<ng-map id="mainMap"
            zoom-to-include-markers="auto"
            default-style="true">
			   <marker 
			   	  	icon="images/place-off.png"
			   		ng-repeat="p in data"
			   		on-click="showDetail(p)"
              		position="[[p.latitude]],[[p.longitude]]">
			    </marker>
			   </ng-map>
		</div>
		<div class="col s12 m6 wow bounceInRight">
			<div class="col s12 top" ng-cloak ng-hide="currentMarker">
				<h5>Existen <strong class="orange-c"> [[data.length]] </strong> centros.</h5>
				<p class="orange-c"> Elige el centro en el map o un país para ver más detalles.</p>
			</div>
			<div ng-cloak ng-hide="currentMarker">
						<div class="col s6">
							<h5><strong> Pais </strong> </h5>
						</div>
						<div class="col s6">
							<h5><strong> Centros </strong> </h5>
						</div>
				<div ng-repeat="c in ranking">
					<div class="col s6">
					 <p>[[c.nombre_pais]] </p>
					</div>
					<div class="col s6">
					 <p>[[c.lugares]] </p>
					</div>
				</div>
			</div>	
			<div ng-cloak ng-show="currentMarker" ng-include="'/resume/views/detalle.html'"></div>
			  
		</div>
</div>