<div class="container">				
	<div class="row" >
		<div class="col s12 m6  wow bounceInLeft">
			<div class="col s12 top">
				<h5><strong> Existen [[data.length]] Centros Disponibles </strong></h5>
				<p> Elige el centro para ver mas detalles </p>
			</div>
	        
			<ng-map id="mainMap"
            zoom-to-include-markers="auto"
            default-style="true">
			   <marker 
			   	  	icon="images/place-off.png"
			   		ng-repeat="p in data"
			   		on-click="showDetail(p)"
              		position="[[p.latitude]],[[p.longitude]]">
			    </marker>
			   </ng-map>
		</div>
		<div class="col s12 m6 wow bounceInRight">
			<div ng-hide="currentMarker">
						<div class="col s6">
							<h3><strong> Pais </strong> </h3>
						</div>
						<div class="col s6">
							<h3><strong> Centros </strong> </h3>
						</div>
				<div ng-repeat="c in ranking">
					<div class="col s6">
					[[c.nombre_pais]]
					</div>
					<div class="col s6">
					[[c.lugares]]
					</div>
				</div>
			</div>	
			<div ng-include="'/resume/views/detalle.html'"></div>
			  
		</div>
</div>