main {

    p.header{
        img{
            width: 33px;
        }
    }
    text-align: center;
    height: 95vh;

    img.logo{
    	    width: 80%;
            margin-top: 30px;
    }

    img.logoTop{
        height: 50px;  
        vertical-align:middle
    }


    .collection .collection-item{
    	text-align: left;
    }
    .home{
    	.container-90{
		 	width: 95%;
		}
        .description{
            padding: 0.5em;
            @media screen and (min-width: 600px) {
                padding-left: 1em;
                padding-right: 1em;
            }
            strong{
                font-weight: 600;
            }
        }

        .menuprincipal li p{
            padding-right: 20px;
        }
    }
    .places{
         @media screen and (min-width: 600px) {
            height: 66vh;
            overflow-x:scroll;
         }
    }
    .btn.tel{
            font-size: 13px;
    }
    .view{
        padding-top: 0px;
        width: 100%;
        float:left;
        
        @media screen and (min-width: 600px) {
           width:350px;
        }

        @media screen and (min-width: 1000px) {
           width: 35%;
           max-width:460px;
        }


    }
    .map{
        width: 100%;
        float:left;
         @media screen and (min-width: 600px) {
            padding-top: 0px;
           width:calc(100% - 350px);
           div.container{
                width: 100%;
           }
        }

        @media screen and (min-width: 1000px) {
            padding-top: 0px;
           width: 65%;
           div.container{
                width: 100%;
           }
        }
    }
    
}

 