<div class="home full">
	<div class="container list">
		<p> Ubicación Actual (geolocalizada) </p>

		<div ng-cloak ng-show="cantidad === 0">
			<h1> Cargando lugares cercanos</h1>
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>


		<br>
		<h4 ng-cloak ng-show="cantidad > 0"> Hay [[cantidad || "-" ]] lugar<span ng-cloak ng-show="cantidad > 1">es</span> cerca</h4>
		<div class="places" ng-cloak ng-show="cantidad > 0">

			<ul class="collection">
				<li class="collection-item" ng-repeat="item in places | filter:esRapido()">
					<div class="row info ">
						<div class="col s12 label">
							<span class="title truncate">[[item.establecimiento]]</span>
							<a ng-click="nextShowUp(item)" class="waves-effect waves-light right">
								<i class="mdi-navigation-chevron-right right"></i></a>
							</div>
						</div>

						<div class="row info">
							<div class="col s12 l8">
								<i class="mdi-maps-place tiny"> </i>
								<span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]] [[item.cruce]]<br></span>
								<span class="address grey-text" ng-cloak ng-show="!item.calle">sin direccion<br></span>
								<span class="telefono" ng-cloak ng-show="item.telefono">
									<a ng-href="tel:[[item.tel]]" class="">
										<i class="mdi-communication-call tiny"> </i>[[item.telefono]]</a><br>
									</span>
									<span class="time truncate" ng-cloak ng-show="item.horario"><i class="mdi-action-query-builder tiny"> </i>[[item.horario]]</span>
								</div>
								<div class="col s12 l4">
									<span class="distance" > <i class="mdi-maps-directions-walk tiny"></i>[[item.distance]] metros </span>

								</div>

							</div>
                        <div class="row info services">
                          <div class="col s12">
                            <img tooltipped class="" data-position="bottom" data-delay="30" data-tooltip="Condones" ng-show="item.condones" alt="Este lugar distribuye condones" src="images/iconos-new_preservativos-3.png">

                            <img class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Prueba VIH" ng-show="item.prueba" alt="Este lugar puede hacer prueba de HIV" src="images/iconos-new_analisis-3.png">

                            <img class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Vacunatorios" ng-show="item.vacunatorio" alt="Este lugar cuenta con centro vacunatorio" src="images/iconos-new_vacunacion-3.png">

                            <img class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Centros de Infectología" ng-show="item.infectologia" alt="Este lugar cuenta con centro de infectologia" src="images/iconos-new_atencion-3.png">

                            <img class="tRapLogo tooltipped" data-position="bottom" data-delay="30" data-tooltip="Test Rápido" ng-show="item.es_rapido" alt="Este lugar cuenta con test rapido" src="images/iconos-test_rapido-3.png">

                          </div>
                        </div>

						</li>
					</ul>

				</div>

			</div>
		</div>

	</div>
</div>