<div class="home full">
			<div class="wow fadeIn" ng-show="main">
				<img class="logo" src="/images/tomalo_y_usalo_logo.png">
				<p>Conocé dónde hacerte el test de VIH o dónde conseguir preservativos gratuitos.</p>
			</div>
			<div class="container wow fadeInRight row"  data-wow-delay="0s" ng-show="main">
				<div class="col s0 m3">
					<p></p>
				</div>
				<div class="col s12 m6">
					<a href="#/localizar/" class="waves-effect waves-light btn btn-large">
					<i class="mdi-navigation-chevron-right right"></i>
					<i class="mdi-maps-place left"></i>¿Que hay cerca?</a>
				</div>

			</div>


			<p></p>
			<p></p>
			<div class="container hide-on-large-only" ng-show="main">
				<ul class="collapsible" data-collapsible="accordion" watch>
				    <li ng-repeat="single in collapsibleElements" class="wow fadeInRight"  data-wow-delay="[[($index+1)/3]]s">
				        <div class="collapsible-header"><i class="[[single.icon]]"></i>[[single.title]]</div>
				        <div class="collapsible-body"><p>
				        	<a ng-href="#/servicios/[[single.code]]">[[single.content]]</a><i class="mdi-navigation-chevron-right right"></i></p></div>
				    </li>
				</ul>
			</div>
			<div class="container container-90 hide-on-med-and-down" ng-show="main">
				<div class="row">
					<div ng-click="showCountries(single.title)"
					class="col s3 wow fadeInRight"  
						data-wow-delay="[[($index+1)/3]]s"ng-repeat="single in collapsibleElements" >
						
						
				    	
				        <h5><i class="[[single.icon]]"></i></h5>
				        <h5>[[single.title]]</h5>
				        
				        <p>[[single.content]]</p>
				    	<div class="col s12">
					<a 
					ng-href="#/servicios/[[single.code]]" class="waves-effect waves-light btn btn-large">
					<i class="mdi-navigation-chevron-right right"></i>
					Busca en tu pais</a>
				</div>
				</div>
			</div>
		</div>
	</div>