/* Colores partidos */

.full-height{
    min-height: 82.5vh;
    max-height: 82.5vh;
}
.full-width{
	width: 100%;
}
.btn.full{
	width: 100%;
}
.material-icons{
	line-height: 56px;
}
.centered{
	text-align: center;
}
.btn{
    background-color: $red;
    color: white;
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-size: 19px;
    font-weight: 300;
    text-transform: none;

}
.btn:hover{
	background-color: $red;
}