
html {
  font-family: 'Lato', sans-serif; 
}

h1,h2,h3,h4,h5{
	margin:0px 0 8px 0;
	padding:0;
	border:0;
}

h1 {
    font-size: 3.2rem;
}

h3 {
font-size: 2.5rem;
}


h4 {
font-size: 1.5rem;
  margin:0px 0 14px 0;

}

strong {

    }

ng-map#mainMap {
    height: 94vh !important;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $white;
    
} 

.card-panel{
  text-align: left;
}

.screen-height{
      height: 85vh;

}

.collection {
  border:none;
}

.collection .collection-item{
  padding: 10px 5px;
  border-bottom: 3px solid #e0e0e0;
}
.select-dropdown{
 
  }

 .dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    color:$red;
}

a {
  text-decoration: none;
  color: inherit;
}
.clearfix {
  display: block;
}
 
.bigger{
  font-size: 350px;
}

.row{
	margin-bottom: 0;
}
.valign{
      width: 100%;
}

.hide-mobile{
	display: none;
	@include breakpoint(medium) {
     		display: block;
  		}
}

.container-90{
  width: 90%;
}

.content-block{
  @include breakpoint(large) {
    height: 75vh;  
    padding-top: 1em;
    padding-bottom: 1em;
  }
}