
html {
  font-family: 'Lato', sans-serif; 
}

h1,h2,h3,h4,h5{
	margin:0px 0 8px 0;
	padding:0;
	border:0;
}

h1 {
    font-size: 3.2rem;
}

h3 {
font-size: 2.5rem;
}


h4 {
font-size: 1.5rem;
  margin:0px 0 14px 0;

}

strong {

    }

ng-map#mainMap {
    height: 94vh !important;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $white;
    
} 

.card-panel{
  text-align: left;
}

.screen-height{
      height: 85vh;

}


.collection .collection-item{
  padding: 12px 14px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1rem;

}

.collection-item .info i {
  padding-right: 0.3rem;

  }


.collection-item .title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.countries .collection-item  .title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    padding: 8px;
    padding-left: 15px;

}


.collection-item .grey-text{
  font-style: italic;
  font-size: 1rem;
}


 .dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    color:$red;
}

a {
  color: $red;
  text-decoration: underline;
}


.clearfix {
  display: block;
}
 
.bigger{
  font-size: 350px;
}

.row{
	margin-bottom: 0;
}
.valign{
      width: 100%;
}

.hide-mobile{
	display: none;
	@include breakpoint(medium) {
     		display: block;
  		}
}

.container-90{
  width: 90%;
}

.container.list{
  width: 100%;
  margin: 0;
}

.content-block{
  @include breakpoint(large) {
    height: 75vh;  
    padding-top: 1em;
    padding-bottom: 1em;
  }
}



.collapsible .collapsible-body ,.collapsible .collapsible-header{
  text-align: left;
}

.collapsible .collapsible-body p{
    padding: 2rem 1rem 2rem 4rem;
    line-height: 1.2rem;
}

.collapsible .collapsible-header{
  font-size: 1.2em;
  font-weight: 600;
}

.collapsible .collapsible-body a{
      text-decoration: none;
}

@media screen and (min-width: 600px) {
    a {
      text-decoration: none;
    }
}

