<div class="home full new-home mt-1">
  <div class="container list">
    <!-- SEARCH USER INFO -->
    <h6 class="new-title">
      <span ng-cloak ng-show="service">
        <span translate="searching_service" translate-values="{service: '[[ service.title | translate ]]' }"></span>
      </span>
      <span ng-cloak ng-show="country">
        <span translate="on"></span>
        <span>[[country]], [[province]], [[city]] </span>
      </span>
    </h6>

    <!-- SPINNER -->
    <div ng-cloak ng-show="loading">
      <h6 translate="loading_cities"></h6>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>

    <!-- RESULTS INFO BLOCK -->
    <div ng-cloak ng-hide="loading" class="mt-1">
      <!-- RESULTS TITLE-->
      <div ng-cloak ng-show='legal'>
        <h5>
          <div ng-cloak ng-show="cantidad > 1">
            <span translate="resultado_cantidad_titulo>1" translate-values="{cantidad: '[[cantidad]]', query: '[[name]]'}"></span>
          </div>
          <div ng-cloak ng-show="cantidad == 1">
            <span translate="resultado_cantidad_titulo=1" translate-values="{query: '[[name]]'}"></span>
          </div>
          <div ng-cloak ng-show="cantidad == 0">
            <span translate="noResults" translate-values='{query: "[[name]]"}'></span>
          </div>
        </h5>
      </div>

      <!-- SUGGEST ONE NEW PLACE -->
      <div ng-cloak ng-show='legal'>
        <div class="container" ng-cloak ng-show="cantidad  === 0">
          <div class="card-panel hoverable">
            <h5 translate="suggest_place"></h5>
            <p>
              <i class="mdi-action-info-outline tiny"></i>
              <span translate="client_colaboration"></span>
            </p>
            <div class="col s12 m3 hide-on-med-and-down"></div>
            <a ng-href="form" class="waves-effect waves-light btn wow " data-wow-delay="0s" translate="add">
              <i class="mdi-content-add right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- RESULTS BLOCK -->
      <div class="places" ng-cloak ng-show="cantidad > 0 && legal">
        <div class="center-align row valign-wrapper container-90">
          <div class="col s3 valign" translate="sort_label_text"></div>
          <select class="browser-default col s8 valign left-align" ng-model="events" ng-change="updateSearch(events)">
            <option value="" translate="all"></option>
            <option value="cantidad_votos_filtered" translate="sort_better_option"></option>
          </select>
        </div>

        <ul class="collection">
          <li class="collection-item center" ng-repeat="item in places | orderBy: events: '!null' | filter:esFriendly()">
            <div class="row col-container">
              <div class="col s11 center-col-services">
                <div class="row info ">
                  <div class="col s12 label">
                    <span class="title truncate">[[item.establecimiento]]</span>
                  </div>
                </div>

                <!-- DESCRIPCION -->
                <div class="row info">
                  <!-- SINGLE LIST ITEM -->
                  <div class="col s6 l12">
                    <i ng-show='item.calle' class="mdi-maps-place tiny"> </i>
                    <span class="address" ng-cloak ng-show="item.calle || item.altura || item.cruce">[[item.calle]] [[item.altura]]</span>
                    <span ng-show='item.cruce'>
                      <span translate="and"></span>
                      <span ng-show='item.cruce'>[[item.cruce]]</span>
                    </span>
                    <span ng-show='item.piso_dpto'> - [[item.piso_dpto]] </span>
                  </div>
                </div>

                <!-- DISTANCE PER ITEM -->
                <div class="col s6 l12">
                  <span class="distance" ng-cloak ng-show="item.distance">
                    <i class="mdi-maps-directions-walk tiny"></i>
                    <span translate="place_distance_size" translate-values="{distance: '[[item.distance]]'}"></span>
                  </span>
                </div>

                <!-- SERVICES PER ITEM -->
                <div class="row info services">
                  <div class="col s12">
                    <div class="inline" ng-include="'scripts/home/views/place-services-imgs.html'"></div>
                  </div>
                </div>

                <!-- RATE PER ITEM -->
                <div ng-cloak ng-show="item.cantidad_votos_filtered > 0" class="row info Aligner-info-home-evaluation">
                  <img src="images/emojis/[[item.rate]]active.png" alt="rate">&nbsp
                  <span class="address">
                    [[item.cantidad_votos_filtered]] <span ng-cloak ng-show="item.cantidad_votos_filtered === 1">Evaluación</span><span ng-cloak ng-show="item.cantidad_votos_filtered != 1">Evaluaciones</span><br>
                  </span>
                </div>
                <div ng-cloak ng-show="item.cantidad_votos_filtered == 0" class="row info Aligner-info-home-evaluation">
                  <img src="images/emojis/3.png" alt="rate">&nbsp
                  <span class="address"> No hay evaluaciones todavía <br></span>
                </div>
              </div>

              <div class="next-showup-arrow col s1 l1">
                <a ng-click="nextShowUp(item)"></a>
                <div class="service-button-down-background"></div>
                <i class="mdi-hardware-keyboard-arrow-right service-button-down-icon"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="row home-footer-wrapper">
  <footer class="result-service-footer">
    <span translate="footer_text"></span>
  </footer>
</div>