<div class="container">

				
	<div class="row head">
		<div class="col s12 top">
		<h1>ESTABLECIMIENTOS EVALUADOS</h1>
		<p>Breve texto descriptivo breve texto descriptivo breve texto des criptivo breve texto breve texto descriptivo breve texto breve texto descriptivo texto breve texto descriptivo brevebreve texto descriptivo</p>
		</div>
	</div>
	<div class="row highlight">
		<div class="col s12">
			<div class="row">
				<div class="col s1">
					<i class="fa fa-flag-checkered" aria-hidden="true"></i>
				</div>
						<div class="col s11">
						<h5>  Quedan <span class="red">
							
							{{diffDays | amDifference : null : 'days' }}  días, 
							{{diffHours | amDifference : null : 'hours' }} horas,  
							{{diffMinutes | amDifference : null : 'minutes' }}  minutos, 
							{{diffSeconds | amDifference : null : 'seconds' }}  segundos </span> 
						</h5>
					</div>
			</div>
			<div class="row">
				<div class="col s1">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>  
				</div>
				<div class="col s11">
						
						<h6> Sitios:  <span class="red"> 
							<span odometer="stats.active"></span>
							 evaluados </span> de {{stats.total}} </h6>
						<div class="progress"> 
							<div class="progress-bar bg-color-disfrute" role="progressbar" ng-style="{ 'width': active.percentage + '%' }">  </div>   
						</div>
					</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col s6">
			<div class="map-viz">
				<img src="images/mapaarg.svg">
			</div>
		</div>
		<div class="col s6">
			<div class="region-detail">
				<div class="row ">
				<h5>Evaluaciones en {{active.name}}</h5>
				
				<div class="progress"> 
						<div class="progress-bar bg-color-disfrute" role="progressbar" ng-style="{ 'width': active.percentage + '%' }">  </div>   
				</div>

				<h4><span class="red">
					<span odometer="active.active"></span> </span>de {{active.pending}} sitios</h4>
			</div>
				<div class="row center actions">
					<div class="col s6 ">
						<div class="action">
						<img src="images/check.svg">
						<p>Evaluar sitios nuevos en {{active.name}}</p>
						</div>
					</div>
					<div class="col s6">
						<div class="action">
							<img src="images/conv.svg">
							<p>Invitá a otros a evaluar en {{active.name}}</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
</div>