<div class="home full">
	<div class="container wow fadeIn" ng-show="main">
		<ul class="collapsible popout" data-collapsible="accordion" watch>
		    <li ng-repeat="single in collapsibleElements">
		        <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
		        <div class="collapsible-body"><p>
		        	<a ng-click="showCountries()" href="">{{single.content}}</a></p></div>
		    </li>
		</ul>
	</div>
	<div class="container wow fadeInRight" ng-repeat="p in paises" ng-show="countries">
		<a ng-click="showMap()" href="" class="waves-effect waves-light btn btn-large">{{p}}</a>

	</div>
	<div class=" wow fadeIn fadeInRight" ng-show="maps">
		<ng-map id="mainMap" default-style="true" lazy-init="true" center="[40.74, -74.18]"></ng-map>
	
		  <div class="fixed-action-btn horizontal" style="bottom: 45px; left: 24px;">
	    <a class="btn-floating btn-large red">
	      <i class="large mdi-image-filter-drama"></i>
	    </a>
	    <ul>
	      <li><a class="btn-floating red"><i class="mdi-image-filter-drama">insert_chart</i></a></li>
	      <li><a class="btn-floating yellow darken-1"><i class="mdi-image-filter-drama">format_quote</i></a></li>
	      <li><a class="btn-floating green"><i class="mdi-image-filter-drama">publish</i></a></li>
	      <li><a class="btn-floating blue"><i class="mdi-image-filter-drama">attach_file</i></a></li>
	    </ul>
	  </div>
  </div>
</div>


         

