<div class="row">  
  	<div class="col s12 m6">
  		<div class="row menu">
  			<div class="col s6">
	  			<a href="#!/" c class="waves-effect waves-light btn-small"><i class="material-icons left">replay</i>Back</a>
	  			
  			</div>
  			<div class="col s6">
  				
	  			<div class="switch">
				    <label>
				      Show by Votes
				      <input ng-model="activateDiversity" type="checkbox">
				      <span class="lever"></span>
				      Show by Diversity
				    </label>
				  </div>
  			</div>
  
  		</div>
  		<div class="row">
  			<div ng-cloak ng-hide="mapReady" class="col s12 loader-container">
      		<div class="preloader-wrapper big active">
    		<div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
		</div>
		<map-chart ng-show="mapReady"currentitem="currentCounty.id" > </map-chart>
		</div>
	
		<div ng-include="'views/includes/dialog.html'">
		</div>
	
	</div>
	<div class="col s12 m6">
		<div ng-hide="currentitem">
			<h3> {{currentCounty.name}} </h3>
			<p> Please select one precinct to compare.</p>
		</div>
		<div ng-show="currentitem">
			<h3> {{currentCounty.name}} - Precint {{currentitem.PRECINCT}} </h3>
			<div ng-include="'views/includes/item-detail.html'"></div>
		</div>
	</div>
 <div>

