<div class="home full new-home">

  <div class="col s12">
    <p class="header" ng-cloak ng-show="service">
    <a style="font-size: 22px; pointer-events:none;" translate="searching_service" translate-values="{ service: '[[ service.title | translate ]]'}"></a> </p>

    <div class="card-panel hoverable">
      <h4 translate="select_location"></h4>
      <select class="" ng-change="showProvince()" ng-model="selectedCountry" ng-options="v.nombre_pais for v in countries" material-select watch>
        <option value="" disabled selected translate="select_country"></option>
      </select>

      <select class="" ng-change="loadCity()" ng-options="item as
      item.nombre_provincia for item in provinces track by item.id" ng-model="selectedProvince" material-select watch>
        <option value="" selected translate="select_state"></option>
      </select>

      <select class="wow " ng-change="showSearch()" ng-disabled="!showCity" ng-options="v.nombre_partido for v in cities track by v.id" ng-model="selectedCity" material-select watch>
        <option value="" disabled selected translate="select_department"></option>
      </select>

      <a href="" ng-click="getNow()" class="waves-effect waves-light btn wow" ng-class="{'disabled': !searchOn}" translate="search">
        <i class="mdi-navigation-chevron-right right"></i>
        <i class="mdi-editor-format-list-bulleted left"></i>
      </a>

    </div>

  </div>

</div>
<div class="row home-footer-wrapper">
  <footer class="ubi-service-footer">
    <p translate="footer_text"></p>
  </footer>
</div>
