main {
    text-align: center;
    height: 95vh;
    img.logo{
    	    width: 80%;
            margin-top: 30px;
    }
    .collection .collection-item{
    	text-align: left;
    }
    .home{
    	.container-90{
		 	width: 95%;
		}
    }
    .view{
        padding-top: 60px;
        width: 100%;
        float:left;
        margin-bottom: 70px;        
        @media screen and (min-width: 600px) {
           width: 35%;
           max-width:460px;
        }


    }
    .map{
        width: 100%;
        float:left;
         @media screen and (min-width: 600px) {
            padding-top: 60px;
           width: 65%;
           div.container{
                width: 100%;
           }
        }
    }
    
}

 