nav {
    display: none;
    background-color: $yellow;  
    min-height: 56px;
    max-height: 56px;
    border-bottom: 5px $black solid;
    .nav-wrapper{
            width: 100%;
    }
    .container{
        max-width: none;
        width: 100%;
        height: 56px;
        .row{
            width: 100%;
            height: 56px;
            .col{
                height: 56px;
            }
        }
       
        a{
            height: 56px;
            line-height: 45px;
        }
        i{
            float: right;
        }
        img{
            min-height: 50px;
            max-height: 50px;
        }
    }
    ul.side-nav{
       background-color: $red;   
       color: $white;
       
        li {
            background-color: $red;   
            float: none;
            padding: 0;
            margin:0; 
            vertical-align:top;
            width: 100%;
            border-bottom: 5px $white solid;
            max-height: 55px;
            &.last{
                background-color: $yellow;
                img{
                    max-height: 50px;
                    display: block;
                    margin: 0 auto;
                }
            }
            img{
                
                max-width: 100%;
            }
            a{
                color:white;
                height: 40px;
                line-height: 40px;
                width: 100%;
                display: inline-flex;
            }
            p{
                font-size: 1.2em;
                margin: 0;
                padding: 0;
                // height: 64px;
                // line-height: 64px;
            }
            i {
                display: inline;
                padding-left: 0.5em;
                padding-right: 0.5em;
                margin-top: 7px;
            }

        }
    };
    
    div.container a i{
        color: black
    }

}
