nav{
	background-color: $red;
	position: inherit;
	z-index: 200;
	

		.nav-wrapper li{
		    width: 60px;
		}


	 @media screen and (min-width: 980px) {
           
		.brand-logo{
	   		width: 100%;
	    	left: 0;
		}
	}
}
