<div class="home full new-home" style="padding-top: 25px; min-height: 84vh;">
  
  <div class="col s12">
    <p class="header" ng-cloak ng-show="service">
    <a style="font-size: 22px; pointer-events:none;"> Buscando [[service.title]] </a> </p>
    
    <div class="card-panel hoverable">
      <h4>Elegir ubicación </h4>
      <select class="" ng-change="showProvince()" ng-model="selectedCountry" ng-options="v.nombre_pais for v in countries" material-select watch>
        <option value="" disabled selected>(Elegir País)</option>
      </select>
      
      <select class="" ng-change="loadCity()" ng-options="item as
      item.nombre_provincia for item in provinces track by item.id" ng-model="selectedProvince" material-select watch>
        <option value="" selected>(Elegir Provincia)</option>
      </select>
    
      <select class="wow " ng-change="showSearch()" ng-disabled="!showCity" ng-options="v.nombre_partido for v in cities track by v.id" ng-model="selectedCity" material-select watch>
        <option value="" disabled selected>(Elegir Partido o Departamento)</option>
      </select>
      
      <a href="" ng-click="getNow()" class="waves-effect waves-light btn wow" ng-class="{'disabled': !searchOn}">
        <i class="mdi-navigation-chevron-right right"></i>
        <i class="mdi-editor-format-list-bulleted left"></i>Buscar
      </a>
    
    </div>

  </div>
  <div class="row home-footer-wrapper">
    <footer class="ubi-service-footer">
      <p>Donde es una <b>plataforma colaborativa.</b> Si encontrarás un error en los datos o en el funcionamiento de la plataforma <a href="mailto:donde@huesped.org.ar"  target="_self">envianos un mensaje</a></p>
    </footer>
  </div>

  
</div>
