<link rel="stylesheet" href="css/adhoc.css">
<div class="home full new-home" >

  <div class="container list">

    <p ng-cloak ng-show="country">

      <a ng-if='!ciudadId' ng-href="#/[[countryId]]-[[country]]/[[provinceId]]-[[province]]/[[cityId]]-[[city]]/[[service.code]]/listado">[[country]] > [[province]] > [[city]]</a>

      <a ng-if='ciudadId' ng-href="#/[[countryId]]-[[country]]/[[provinceId]]-[[province]]/[[cityId]]-[[city]]/[[ciudadId]]-[[ciudad]]/[[service.code]]/listado">[[country]] > [[province]] > [[city]] > [[ciudad]]</a>      

    </p>

    <p ng-cloak ng-show="geo">

     <a ng-href="#/localizar/[[service.code]]/listado" translate="closer_places">

     </a>

   </p>

 </div>
  
  <div class="detail row wow fadeIn fadeInRight" ng-cloak ng-show="currentMarker">

    <h4>[[currentMarker.establecimiento]] </h4>
    <p><b>[[currentMarker.calle]] [[currentMarker.altura]] [[currentMarker. piso_depto]]</b>
     <br> [[currentMarker.ciudad]]
     <span ng-show="currentMarker.provincia_region"> ,</span> [[currentMarker.provincia_region]]</p>
     <p ng-show="currentMarker.tipo"><strong><span>[[currentMarker.tipo]]</span> </strong></p>



     <div class="row">
       <div class="col s12 l12">
        <span class="distance" ng-cloak ng-show="currentMarker.distance"> <i class="mdi-maps-directions-walk tiny"></i><span translate="place_distance_size" translate-values="{distance:'[[currentMarker.distance]]'}"></span></span>
      </div>

      <div class="col s12 l12 servicios" >
       <ul class="collection">
        <div ng-include="'scripts/home/controllers/city-map/detail/condones.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/pruebas.html'"></div>
    <!--    <div ng-include="'scripts/home/controllers/city-map/detail/infectologia.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/vacunacion.html'"></div>-->
        <div ng-include="'scripts/home/controllers/city-map/detail/mac.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ile.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ssr.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/dc.html'"></div>
      </ul>
    </div>

    <p translate="share_this_place"></p>

     <a class="hide-on-med-and-up btn-floating btn-large share-buttons"
      socialshare
      socialshare-provider="whatsapp"
      socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
      socialshare-url="https://ippf-staging.com.ar/share/[[currentMarker.placeId]]"  >
    <i class="fa fa-whatsapp"></i>
  </a>


      <a class="hide-on-med-and-up btn-floating btn-large waves-effect waves-light share-buttons"
      socialshare
      socialshare-provider="facebook-messenger"
      socialshare-url="https://ippf-staging.com.ar/share/[[currentMarker.placeId]" >
        <i class="fa fa-messenger"></i>

      </a>

      <a class="btn-floating btn-large share-buttons"
      socialshare
      socialshare-provider="facebook"
      socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
      socialshare-url="https://ippf-staging.com.ar/share/[[currentMarker.placeId]]">
      <i class="fa fa-facebook-square"></i>
    </a>

    <a class="btn-floating btn-large share-buttons"
    socialshare
    socialshare-provider="twitter"
    socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
    socialshare-url="https://ippf-staging.com.ar/share/[[currentMarker.placeId]]">
    <i class="fa fa-twitter"></i> </a>

    </div>  <!-- del row -->
</div> <!-- fade in -->

            <div class="button-home">

                <a href="#/califica/[[currentMarker.placeId]]" class="waves-effect waves-light btn" translate="rate_this_place"></a>

            </div>
            <br>
            <div ng-show='currentMarker.cantidad_votos' class="evaluation-container">
              <ul class="evaluation-preview-ul">
                <li class="evaluation-header-li row valign-wrapper">
                  <div class="col s8 valign">
                    <p ng-cloak ng-show="currentMarker.cantidad_votos != 1" class="evaluation-votes">[[currentMarker.cantidad_votos]] Evaluaciones</p>
                    <p ng-cloak ng-show="currentMarker.cantidad_votos == 1" class="evaluation-votes">[[currentMarker.cantidad_votos]] Evaluación</p>
                  </div>
                  <div class="col s4">

                    <span style="color: #E6344D;font-weight: 800" translate="point" translate-values="{ rate: '[[currentMarker.rate]]'}">
                    </span><span ng-show='currentMarker.rate > 1' style="color: #E6344D;font-weight: 800">s</span>

                  </div>
                </li>
                <li class="evaluation-preview-li row" ng-repeat="comment in currentMarker.comments" >
                  <!--div class="col s1 evaluation-preview-left">
                    <a href=""><img src="images/emojis/[[comment.voto]]active.png" alt="" style="cursor: default;"></a>
                  </div-->
                  <div class="col s11 evaluation-preview-right">
                    <p ng-text-truncate="comment.comentario" ng-tt-chars-threshold="136"></p>
                    <p class="evaluation-preview-info"><span  translate="city_map_comments_label_1"></span>
                      <div ng-repeat="que_busca in comment.que_busca track by $index"><span translate="[[que_busca]]"></span></div>
                    </p>

                  </div>
                </li>
              </ul>
            </div>
            <div class="" ng-cloak ng-hide="currentMarker.cantidad_votos < 5 || voteLimit >= currentMarker.cantidad_votos">
              <div class="col s12">
                <a class="evaluation-more" ng-click="addComment()" class="waves-effect waves-light" translate="city_map_comments_label_2"></a>
              </div>
            </div>
            <footer class="landing-service-footer home-footer-wrapper">
                    <p translate="footer_text"></p>
                </footer>
</div>

</div>

    <!-- //del home <div class="row home-footer-wrapper">
        <footer class="landing-service-footer">
            <p>Donde es una <b>plataforma colaborativa.</b> Si encontrarás un error en los datos o en el funcionamiento de la plataforma <a href="mailto:donde@huesped.org.ar"  target="_self">envianos un mensaje</a></p>
        </footer>

    </div>  -->
