<link rel="stylesheet" href="css/adhoc.css">
<div class="home full new-home" >

  <div class="container list">

    <p ng-cloak ng-show="country">

      <a ng-if='!ciudadId' ng-href="#/[[countryId]]-[[country]]/[[provinceId]]-[[province]]/[[cityId]]-[[city]]/[[service.code]]/listado">[[country]] > [[province]] > [[city]]</a>

      <a ng-if='ciudadId' ng-href="#/[[countryId]]-[[country]]/[[provinceId]]-[[province]]/[[cityId]]-[[city]]/[[ciudadId]]-[[ciudad]]/[[service.code]]/listado">[[country]] > [[province]] > [[city]] > [[ciudad]]</a>

    </p>

    <p ng-cloak ng-show="geo">

     <a ng-href="#/localizar/[[service.code]]/listado" translate="closer_places">

     </a>

   </p>

 </div>

  <div class="detail row wow fadeIn fadeInRight" ng-cloak ng-show="currentMarker">

    <h4>[[currentMarker.establecimiento]] </h4>
    <p><b>[[currentMarker.calle]] [[currentMarker.altura]]
      <span ng-show='currentMarker.cruce' translate="and"></span> <span ng-show='currentMarker.cruce'>[[currentMarker.cruce]]</span><br>
      <span ng-show='currentMarker.piso_dpto'> [[currentMarker.piso_dpto]]</span><br>
      [[currentMarker.barrio_localidad]]
      <p ng-show="currentMarker.tipo">
        <strong><span>[[currentMarker.tipo]]</span> </strong>
      </p>
    </b>



     <div class="row">
       <div class="col s12 l12">
        <span class="distance" ng-cloak ng-show="currentMarker.distance"> <i class="mdi-maps-directions-walk tiny"></i><span translate="place_distance_size" translate-values="{distance:'[[currentMarker.distance]]'}"></span></span>
      </div>

      <div class="col s12 l12 servicios" >
       <ul class="collection">
        <div ng-include="'scripts/home/controllers/city-map/detail/condones.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/pruebas.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/mac.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ile.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/ssr.html'"></div>
        <div ng-include="'scripts/home/controllers/city-map/detail/dc.html'"></div>
      </ul>
    </div>

    <p translate="share_this_place"></p>

     <a class="hide-on-med-and-up btn-floating btn-large share-buttons"
      socialshare
      socialshare-provider="whatsapp"
      socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
      socialshare-url="https://ippf-staging.com.ar/share/[[selectedLanguage]]/[[currentMarker.placeId]]" >
    <i class="fa fa-whatsapp"></i>
  </a>


      <a class="hide-on-med-and-up btn-floating btn-large waves-effect waves-light share-buttons"
      socialshare
      socialshare-provider="facebook-messenger"
      socialshare-url="https://ippf-staging.com.ar/share/[[selectedLanguage]]/[[currentMarker.placeId]]" >
        <i class="fa fa-messenger"></i>

      </a>

      <a class="btn-floating btn-large share-buttons"
      socialshare
      socialshare-provider="facebook"
      socialshare-type="feed"
      socialshare-via="1964173333831483"
      socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
      socialshare-url="https://ippf-staging.com.ar/share/[[selectedLanguage]]/[[currentMarker.placeId]]">
      <i class="fa fa-facebook-square"></i>
    </a>

    <a class="btn-floating btn-large share-buttons"
    socialshare
    socialshare-provider="twitter"
    socialshare-text= '[["social_share_text" | translate:{establecimiento: currentMarker.establecimiento, nombre_partido: currentMarker.nombre_partido}]]'
    socialshare-url="https://ippf-staging.com.ar/share/[[selectedLanguage]]/[[currentMarker.placeId]]">
    <i class="fa fa-twitter"></i> </a>

    </div>  <!-- del row -->
</div> <!-- fade in -->

            <div class="button-home">

                <a href="#/califica/[[currentMarker.placeId]]" class="waves-effect waves-light btn" translate="rate_this_place"></a>

            </div>
            <br>
            <div ng-show='currentMarker.cantidad_votos' class="evaluation-container">
              <ul class="evaluation-preview-ul">
                <li class="evaluation-header-li row valign-wrapper">
                  <div class="col s8 valign">
                    <p ng-cloak ng-show="currentMarker.cantidad_votos != 1" class="evaluation-votes">[[currentMarker.cantidad_votos]] <span translate="evaluation_plural"></span></p>
                    <p ng-cloak ng-show="currentMarker.cantidad_votos == 1" class="evaluation-votes">[[currentMarker.cantidad_votos]] <span translate="evaluation_singular"></span></p>
                  </div>
                  <div class="col s4">

        				<div style="padding:1.5%; border-radius: 5px ;background-color: #E6344D; color: #fff;font-weight: 800">
                            <span translate="point" translate-values="{ rate: '[[currentMarker.rate]]'}">
                            </span><span ng-show='currentMarker.rate > 1'>s</span>
                        </div>

                  </div>
                </li>
                <li class="evaluation-preview-li row" ng-repeat="comment in currentMarker.comments" >
                  <div class="col s11 evaluation-preview-right">
                    <p ng-text-truncate="comment.comentario" ng-tt-chars-threshold="136"></p>
                    <p class="evaluation-preview-info"><span  translate="city_map_comments_label_1"></span>
                      <div ng-repeat="que_busca in comment.que_busca track by $index"><span translate="[[que_busca]]"></span></div>
                    </p>

                  </div>
                </li>
              </ul>
            </div>
            <div class="" ng-cloak ng-hide="currentMarker.cantidad_votos < 5 || voteLimit >= currentMarker.cantidad_votos">
              <div class="col s12">
                <a class="evaluation-more" ng-click="addComment()" class="waves-effect waves-light" translate="city_map_comments_label_2"></a>
              </div>
            </div>
            
</div>


</div>

<div class="row home-footer-wrapper">

    <footer class="result-service-footer">

        <p translate="footer_text"></p>

    </footer>

</div>

